/*
 * In debug mode we include css resets which forces us to style properties
 * which could be normally handled by default browser styles. Then we can
 * compare production mode with developemnt, they should both look the same.
 * This should lead to better reusability of components and more consistent
 * look across browsers, since we are not relying on browser default styles.
 */

/*
 * TODO: add comments about each rule, why is it there and what is forces
 *       us to do with potential benefits or forcing us to overwrite it
 * TODO: rules which should be explicitely overvritten in app css should
 *       have visible styles in debug.css like ridiculously big font sizes
 * TODO: rules to overwrite:
 *         - font size
 *         - font family
 *         - margin/padding on body
 *         - outline on active/focus
 *         - default input elements
 *           - border
 *           - padding (buttons?)
 *           - outline (inputs)
 *           - background (buttons)
 * TODO: release as npm module
 * TODO: write article about this goodness
 */

/*
Sources:
  http://www.iecss.com/
  https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css
  http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
  https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css
  http://hg.mozilla.org/mozilla-central/file/tip/layout/style/res/html.css
  https://www.w3.org/TR/html5/rendering.html
*/

/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */
/* OLD RESET CSS DEPENDENCY */

:root {
    --color1: magenta;
    --color2: orange;
    --color3: blue;
    --color4: red;
    --color5: green;
}

body {
  /*
    IE 6-7:
      margin 15px 10px;
    IE 8+:
    Edge:
    FF:
    Chrome:
      margin 8px;
   */
  margin: 20%;
}

/* Typography */

body {
    font-size: 30px;
    font-family: "Comic Sans MS", consolas, monospace;
}

/* Lists */

ol,
ul {
    list-style-type:hiragana;
}

/* Buttons */

button {
    background-color: var(--color1);
    border: 0.5em solid var(--color1);
    padding: 0.5em 1em;
}

button:focus {
    outline: 0.5em solid var(--color2);
}

/* Input & Textarea */

/* TODO: overvrite default widths and heights? */
input {
    border: 1px solid red;
    padding: 15%; /* chrome: padding: 1px 0px; */
}

input:focus {
    outline: 3px solid orange;
}

textarea {
    border: 1px solid red;
    padding: 15%; /* chrome: padding: 2px; */
}

textarea:focus {
    outline: 3px solid orange;
}
