/*
 * In debug mode we include css resets which forces us to style properties
 * which could be normally handled by default browser styles. Then we can
 * compare production mode with developemnt, they should both look the same.
 * This should lead to better reusability of components and more consistent
 * look across browsers, since we are not relying on browser default styles.
 */

/*
 * TODO: add comments about each rule, why is it there and what is forces
 *       us to do with potential benefits or forcing us to overwrite it
 * TODO: rules which should be explicitely overvritten in app css should
 *       have visible styles in debug.css like ridiculously big font sizes
 * TODO: rules to overwrite:
 *         - font size
 *         - font family
 *         - margin/padding on body
 *         - outline on active/focus
 *         - default input elements
 *           - border
 *           - padding (buttons?)
 *           - outline (inputs)
 *           - background (buttons)
 * TODO: release as npm module
 * TODO: write article about this goodness
 */

@import '/static/node_modules/reset-css/reset.css';

*,
*:focus,
*:active,
*:hover {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}

*,
*::after,
*::before {
  font-size: 6pt;
  font-family: consolas;
}
