/* Header */

.article__header {
  display: flex;
  flex-direction: column;
}

.article__title {
  color: var(--color-font);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-title);
  font-weight: 400;
  line-height: 1;
  margin-top: 1.2em;
}

.article__datetime {
  font-style: italic;
  display: block;
  margin-top: 0.2em;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

/* Content */

.article__content {
  margin-top: 2.8rem;
}

/* Headings */

.article__content h2 {
  color: var(--color-font);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-headline);
  font-weight: 400;
  padding: var(--font-padding-headline);
  line-height: var(--font-line-height-headline);
}

.article__content h3 {
  color: var(--color-font);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: var(--font-size-headline-small);
  padding: var(--font-padding-headline-small);
  line-height: var(--font-line-height-headline-small);
}

.article__content > *:first-child,
.article__content h2 + *:not(h2):not(h3),
.article__content h3 + *:not(h2):not(h3) {
  /* Remove margin after heading, since headins has margin bottom */
  margin-top: 0;
  padding-top: 0;
}

/* Small */

.article__content small {
  font-size: var(--font-size-paragraph-small);
}

 /* Links */

.article__content a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted var(--color-link-border);
  transition: 0.2s border ease-in-out;
}

.article__content a:visited {
  color: black;
}

.article__content a:hover {
  border-bottom: 1px dotted black;
}

/* Paragraphs */

.article__content p {
  margin-top: var(--paragraph-spacing);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

/* Lists */

.article__content ul,
.article__content ol {
  padding-left: 1em;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

.article__content ul ul,
.article__content ul ol,
.article__content ol ul,
.article__content ol ol {
  /* TODO: refactor importants */
  margin-top: 0!important;
  margin-bottom: 0!important;
  margin-left: 1em;
}

.article__content ul ol,
.article__content ol ol {
  /* TODO: refactor */
  margin-left: 0;
}

.article__content ul {
  list-style-type: none;
  padding-left: 0em;
}

.article__content ul li::before {
  content: "–";
  padding-right: 0.35em;
}

/* Code */

.article__content pre {
  margin: var(--paragraph-spacing) 0 0 0;
}

.article__content code {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.1em 0.2em;
  -webkit-box-decoration-break: clone; /* TODO: remove once we no longer need it in chrome for development */
  box-decoration-break: clone;
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
  /* TODO */
}

.article__content pre > code {
  display: block;
  overflow: auto;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5em;
}

/* Images */

.article__content img {
  display: block;
  margin-top: var(--paragraph-spacing);
}

.article__content figure {
  margin: 0;
  margin-top: var(--paragraph-spacing);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

.article__content figure figcaption {
  font-size: var(--font-size-paragraph-small);
}

/* Quotes */

.article__content blockquote {
  margin: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: 6px solid #ddd;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

.article__content blockquote p {
  margin: 0;
}

/* Table */

.article__content table {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}
