.Snippet {
  display: flex;
  flex-direction: column;
  height: 30rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
}

.Snippet-header {
  display: flex;
  flex-direction: row;
  height: 5rem;
  background-color: var(--color-gray-lighter);
}

.Snippet-link {
  left: 0;
  top: 0;
  border: 0!important; /* TODO: remove important */
}

.Snippet-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
}

.Snippet-tabs-wrapper {
  display: flex;
}

.Snippet-tab {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1em;
  margin-left: 0em;
  background-color: var(--color-gray-lighter);
  font-family: var(--font-family-code);
  font-size: var(--font-size-paragraph);
  -webkit-user-select: none; /* TODO: remove once supported without prefixes */
  user-select: none;
}

.Snippet-tab:hover {
  background-color: var(--color-gray-light);
  cursor: pointer;
}

.Snippet-tab:first-child {
  margin-left: 0
}

.Snippet-tab.isSelected {
  background-color: var(--color-gray-standard);
}

.Snippet-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Snippet-content--textarea {
  resize: none;
  background: white;
}

.Snippet-content--iframe {
  background: white;
}

.Snippet-content--iframe iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
