/*header img {
  margin: auto;
  margin-top: 2em;
}

header nav {
  margin-top: 1em;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header ul li {
  width: 25%;
  font-size: var(--font-size-sub-headlines);
  line-height: 2.4;
  text-align: center;
}

header ul li:first-child {
  margin-left: 25%;
}

header ul li a {
  display: block;
  border: 0;
}

header ul li a:hover {
  background-color: rgba(80, 80, 0, 0.08);
  border-radius: 3px;
  border: 0;
}*/
