.Menu {
  display: flex;
  list-style-type: none;
  justify-content: center; /* TODO remove when items fill 100% */
  margin: 0;
  padding: 0;
}

.Menu-item {
  width: 25%;
  font-size: var(--font-size-headline-small);
  line-height: 2.4;
  text-align: center;
}

.Menu-item-link {
  display: block;
  color: black;
  text-decoration: none;
}

.Menu-item-link:hover {
  border-radius: 3px;
  background-color: rgba(80, 80, 0, 0.08);
}
