// http://eslint.org/docs/rules
{
    "extends": "eslint-config-airbnb",
    "rules": {
        "indent": [1, 4], // this option sets a specific tab width for your code (off by default)
        "func-names": 0
    }
}
