<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>

    <title>{{ siteDomain }}</title>
    <link>{{ siteUrl }}</link>
    <description>Blog about web design and technologies</description>

    {% for article in articles %}
      <item>
        <title>{{ article.metadata.title }}</title>
        <link>{{ siteUrl }}/{{ article.metadata.url }}</link>
        <guid>{{ siteUrl }}/{{ article.metadata.url }}</guid>
        <pubDate>{{ article.metadata.dateLastUpdate | gmt }}</pubDate>
        <description>{{ article.metadata.description }}</description>
      </item>
    {% endfor %}

  </channel>
</rss>
