:root {
  /*
   * colors
   */
  --color-gray-lighter: rgb(245, 245, 245);
  --color-gray-light: #ddd;
  --color-gray-standard: #ccc;
  --color-gray-dark: #333;

  --color-yellow: #ff0;

  --color-link-border: rgba(0, 0, 0, 0.3);

  /*
   * dimensions
   */
  --content-width: 700px;
  --border-radius: 3px;

  /* TODO: move into mixin once they are avaliable - same code used in header.css & page.css */
  --content-spacing: 10px;
  --content-max-width: calc(var(--content-width) + 2 * var(--content-spacing));

  /*
   * z-indexes
   */
   --z-index-snippet-content-visible: 20;
   --z-index-snippet-content: 10;
}
