{% extends "extends/base.njk" %}

{% block title -%}
  &ndash; {{ metadata.title }}
{%- endblock %}

{% block content %}

  <article class="Article">

    <div class="Article-header">
      <h1 class="Article-title">
        {{ metadata.title }}
      </h1>
      <time
        class="Article-datetime"
        title="{{ metadata.datePublication | fullDate }}"
        datetime="{{ metadata.datePublication | datetimeAttribute }}"
        data-date-convert
      >
        {{ metadata.datePublication | fullDate }}
      </time>
    </div>

    <div class="Article-content">
      {{ articleHtml | safe }}
    </div>

  </article>

{% endblock %}

{% block scriptVariables %}

  <script>
    (function () {
      'use strict'

      window.appData.snippets = [
        {% for snippet in snippets %}
          {
            metadata: {
              name: {{ snippet.metadata.name | dump | safe }},
              base: {{ snippet.metadata.base | dump | safe }},
            },
            content: {
              head: {{ snippet.content.head | dump | safe }},
              html: {{ snippet.content.html | dump | safe }},
              css: {{ snippet.content.css | dump | safe }},
              js: {{ snippet.content.js | dump | safe }},
            },
            config: {{ snippet.config | dump | safe }}
          }{% if loop.last == false %},{% endif %}
        {% endfor %}
      ]
    }())
  </script>

{% endblock %}
