/* TEAM */
  Name: Petr Huřťák
  Contact: petr.hurtak@gmail.com
  Twitter: @PetrHurtak
  From: Prague, Czech Republic

/* THANKS */
  TODO :)

/* SITE */
  Site Url: {{ globals.siteUrl }}
  Online: since {{ globals.yearFounded }}
  {% if lastUpdate -%}
    Last update: {{ lastUpdate | fullDate }}
  {%- endif %}
  Language: English
  Editor: VS Code
