/* TEAM */
  Name: Petr Huřťák
  Contact: petr.hurtak@gmail.com
  Twitter: @PetrHurtak
  From: Prague, Czech Republic

/* THANKS */

/* SITE */
  Site Url: {{ siteUrl }}
  Online: since 2016
  Last update: {{ lastUpdate | fullDate }}
  Language: English
  Editor: VS Code
  Back-end: Nginx
