{% extends "extends/base.njk" %}

{% block content %}

  <h1>Recent articles</h1>

  {% for article in articles %}
    <section class="ArticlePreview">

      <h2>
        <a
          href="/{{ article.metadata.url }}/"
          class="ArticlePreview-title"
        >
          {{ article.metadata.title }}
        </a>
      </h2>

      <time
        datetime="{{ article.metadata.dateLastUpdate | datetimeAttribute }}"
        title="{{ article.metadata.dateLastUpdate | fullDate }}"
        class="ArticlePreview-date"
      >
        {{ article.metadata.dateLastUpdate | dateHowLongBefore }}
      </time>

      <p class="ArticlePreview-description">
        {{ article.metadata.description }}
      </p>

    </section>
  {% endfor %}

{% endblock %}
