{% extends "extends/base.njk" %}

{% block content %}

  <div class="Index">

    <h1 class="Index-heading">Recent articles</h1>

    <section class="Index-articles">
      {% for article in articles %}
        <article class="ArticlePreview">

          <h2 class="ArticlePreview-title">
            <a
              class="ArticlePreview-title-link"
              href="/{{ article.metadata.url }}/"
            >
              {{ article.metadata.title }}
            </a>
          </h2>

          <time
            class="ArticlePreview-date"
            title="{{ article.metadata.dateLastUpdate | fullDate }}"
            datetime="{{ article.metadata.dateLastUpdate | datetimeAttribute }}"
            data-date-convert
          >
            {{ article.metadata.dateLastUpdate | fullDate }}
          </time>

          <p class="ArticlePreview-description">
            {{ article.metadata.description }}
          </p>

        </article>
      {% endfor %}
    </section>

  </div>

{% endblock %}
