/*
 * header
 */

.Article-header {
  display: flex;
  flex-direction: column;
}

.Article-title {
  margin: 1.2em 0 0 0;
  font-size: var(--font-size-title);
  line-height: var(--font-line-height-title);
  font-family: var(--font-family-heading);
  font-weight: normal;
  color: var(--color-gray-dark);
}

.Article-datetime {
  margin-top: 0.2em;
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
  font-family: var(--font-family-paragraph);
  font-style: italic;
}

/*
 * content
 */

.Article-content {
  margin-top: 2.8rem;
}

/*
 * comments
 */

.Article-comments {
}

.Article-comments-heading {
  margin: 0;
  padding: var(--font-padding-headline);
  font-size: var(--font-size-headline);
  line-height: var(--font-line-height-headline);
  font-family: var(--font-family-heading);
  font-weight: normal;
  color: var(--color-gray-dark);
}

/*
 * headings
 */

.Article-content h2 {
  margin: 0;
  padding: var(--font-padding-headline);
  font-size: var(--font-size-headline);
  line-height: var(--font-line-height-headline);
  font-family: var(--font-family-heading);
  font-weight: normal;
  color: var(--color-gray-dark);
}

.Article-content h3 {
  margin: 0;
  padding: var(--font-padding-headline-small);
  font-size: var(--font-size-headline-small);
  line-height: var(--font-line-height-headline-small);
  font-family: var(--font-family-heading);
  font-weight: normal;
  color: var(--color-gray-dark);
}

/*
 * paragraphs
 */

.Article-content p {
  margin: var(--paragraph-spacing) 0 0 0;
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
  font-family: var(--font-family-paragraph);
}

.Article-content small {
  margin: var(--paragraph-spacing) 0 0 0;
  font-size: var(--font-size-paragraph-small);
  line-height: var(--font-line-height-paragraph-small);
  font-family: var(--font-family-paragraph);
  color: var(--color-gray-dark);
}

.Article-content em {
  font-style: italic;
}

.Article-content strong {
  font-weight: bold;
}

.Article-content mark {
  background-color: var(--color-yellow);
}

.Article-content s {
  text-decoration: line-through;
}

/*
 * images
 */

.Article-content img {
  display: block;
  margin: var(--paragraph-spacing) 0 0 0;
}

.Article-content figure {
  margin: var(--paragraph-spacing) 0 0 0;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

.Article-content figure figcaption {
  font-size: var(--font-size-paragraph-small);
  font-family: var(--font-family-paragraph);
  line-height: var(--font-line-height-paragraph-small);
}

/*
 * videos
 */

.Article-content video {
  max-width: 100%;
  height: auto;
}

/*
 * links
 */

.Article-content a {
  color: var(--color-blue-dark);
  transition: 0.2s border ease-in-out;
}

.Article-content a:visited {
  color: var(--color-blue-dark);
}

/*
 * Lists
 */

.Article-content ul,
.Article-content ol {
  margin: var(--paragraph-spacing) 0 0 1em;
  padding: 0;
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
  font-family: var(--font-family-paragraph);
}

.Article-content p + ul,
.Article-content li > ul,
.Article-content li > ol,
.Article-content li > pre,
.Article-content li > p {
  margin-top: 0;
}

.Article-content ol {
  list-style-type: decimal;
}

/* unordered lists do not have list-style-type: dash, so we create it with absolute positioned ::before element */
.Article-content ul {
  position: relative;
  margin-left: 1em;
  list-style-type: none;
}

.Article-content ul li::before {
  content: "–";
  display: block;
  position: absolute;
  transform: translateX(-0.8em);
}

/*
 * code
 */

.Article-content pre {
  margin: var(--paragraph-spacing) 0 0 0;
}

.Article-content code {
  padding: 0.1em 0.2em;
  font-size: var(--font-size-code);
  line-height: var(--font-line-height-code);
  font-family: var(--font-family-code);
  background-color: var(--color-gray-lighter);
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  -webkit-box-decoration-break: clone; /* TODO: remove once we no longer need it in chrome for development */
  box-decoration-break: clone; /* inline code snippets can be spread across 2 rows */
  -webkit-overflow-scrolling: touch;
}

.Article-content pre > code {
  display: block;
  overflow: auto;
  padding: 0.5em;
}

.Article-content code.language-diagram {
  line-height: 1;
}

/*
 * quotes
 */

.Article-content blockquote {
  margin: var(--paragraph-spacing) 0 0 0;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0.6rem solid var(--color-gray-lighter);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-height-paragraph);
}

.Article-content blockquote p {
  margin: 0;
}

.Article-content blockquote footer {
  margin-top: 0.4em;
}

/*
 * table
 */

.Article-content table {
  margin: var(--paragraph-spacing) 0 0 0;
  font-size: var(--font-size-paragraph-small);
  line-height: var(--font-line-height-paragraph);
  border-collapse: collapse;
}

.Article-content table thead {
  font-weight: bold;
  font-family: var(--font-family-heading);
}

.Article-content table tbody {
  font-family: var(--font-family-paragraph);
}

.Article-content table th,
.Article-content table td {
  border: 1px solid var(--color-gray-light);
  padding: 0.4em 0.8em;
}

/*
 * videos
 */

.Article-content video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * spacing between paragraphs and headings
 */

.Article-content > * {
  margin: var(--paragraph-spacing) 0 0 0;
}

.Article-content > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.Article-content h2 + *:not(h2):not(h3),
.Article-content h3 + *:not(h2):not(h3) {
  /* remove margin after heading, since headins has margin bottom */
  margin-top: 0;
}
