
/**********
 * colors *
 **********/

@color-background: #f6f5ed;
@color-font: #333;
@color-link-border: rgba(0, 0, 0, 0.3);

/*************
 * z-indexes *
 *************/



/**************
 * Typography *
 **************/

// Optimal Typography for 18px Font
// Font Size: 18, Line Height: 29, Content Width: 829
// @see: http://www.pearsonified.com/typography/

html {
  // @see: http://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;
}

@font-size-title: 5.2rem; //5.2px
@font-size-headline: 3.2rem; //3.2px
@font-size-sub-headlines: 2.5rem; //2.5px
@font-size-primary-text: 2.0rem; //2.0px
@font-size-secondary-text: 1.6rem; //1.6px

@font-family-heading: Calibri, Candara, 'Segoe UI', Arial, sans-serif;
@font-family-paragraph: Cambria, Georgia, serif;

@paragraph-line-height: 1.4;
@paragraph-spacing: 1em;
@content-width: 700px;

body {
  background-color: @color-background;
  color: black;
  font-family: @font-family-paragraph;
  font-size: @font-size-primary-text;
  line-height: @paragraph-line-height;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  color: @color-font;
  font-family: @font-family-heading;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.3em;
  margin-top: 1.5em;
  text-transform: uppercase;
}

h1 {
  font-size: @font-size-title;
  margin-top: 0.6em;
}
h2 { font-size: @font-size-headline; }
h3 { font-size: @font-size-sub-headlines; }
small { font-size: @font-size-secondary-text; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted @color-link-border;
  transition: 0.2s border ease-in-out;

  &:visited {
    color: black;
  }

  &:hover {
    border-bottom: 1px dotted black;
  }
}

p, ul, ol {  margin-bottom: @paragraph-spacing; }

ul, ol { padding-left: @paragraph-spacing * 2; }

/***********
 * general *
 ***********/

.page {
  @padding: 10px;

  max-width: @content-width + @padding * 2;
  padding: 0 @padding;
  margin: auto;
}

header {

  img {
    margin: auto;
    margin-top: 2em;
  }

  nav {
    margin-top: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      width: 25%;
      font-size: @font-size-sub-headlines;
      line-height: 2.4;
      text-align: center;

      &:first-child {
        margin-left: 25%;
      }

      a {
        display: block;
        border: 0;

        &:hover {
          background-color: rgba(80, 80, 0, 0.08);
          border-radius: 3px;
          border: 0;
        }
      }
    }
  }
}

footer {
  text-align: center;
  font-size: @font-size-secondary-text;
  margin: 4em 0 2em;
}
