/*
 * libraries
 */
@import '/static/node_modules/normalize.css/normalize.css';

/*
 * resets & shared styles
 */
@import '/static/styles/shared/resets.css';
@import '/static/styles/shared/variables.css';
@import '/static/styles/shared/typography.css';

/*
 * page components
 */
@import '/static/styles/components/header.css';
@import '/static/styles/components/menu.css';
@import '/static/styles/components/article.css';
@import '/static/styles/components/article-preview.css';
@import '/static/styles/components/footer.css';

/*
 * general
 * TODO: move into separate component?
 */

body {
  background-color: var(--color-background);
  text-rendering: optimizeLegibility; /* TODO: is this doing anyting? */
  border-top: 6px solid black;
}

.page {
  --padding: 10px;
  max-width: calc( var(--content-width) + var(--padding) * 2 );
  padding: 0 var(--padding);
  margin: auto;
}
