/*
 * libraries
 */
@import '/static/node_modules/normalize.css/normalize.css';
@import '/static/node_modules/highlight.js/styles/xcode.css';

/*
 * resets & shared styles
 */
@import '/static/styles/shared/resets.css';
@import '/static/styles/shared/variables.css';
@import '/static/styles/shared/typography.css';

/*
 * page components
 */
@import '/static/styles/components/header.css';
@import '/static/styles/components/menu.css';
@import '/static/styles/components/article.css';
@import '/static/styles/components/article-preview.css';
@import '/static/styles/components/article-snippet.css';
@import '/static/styles/components/footer.css';

/*
 * general
 * TODO: move into separate component?
 */

.PageWrapper {
  min-height: 100%;
  border-top: 6px solid black;
  text-rendering: optimizeLegibility; /* TODO: is this doing anyting? */
}

.Content {
  --padding: 10px;

  max-width: calc( var(--content-width) + var(--padding) * 2 );
  padding: 0 var(--padding);
  margin: auto;
}

/*
 * prevents the jump between scrollbar and no-scrollbar pages
 * @see: https://aykevl.nl/2014/09/fix-jumping-scrollbar
@media (max-width: 800px) {
  .page-wrapper {
    margin-left: -calc(100vw - 100%);
  }
}
 */
