<header class="Header">
  <div class="Header-content">

    <a
      class="Header-logo"
      href="/"
    >
      <img
        class="Header-logo-image"
        src="/static/images/logo.svg"
        width="130"
        height="55"
        alt="{{ globals.siteUrlShort | capitalize }} logo"
        >
    </a>

    <nav class="Header-menu">

      <ul class="Menu">
        <li class="Menu-item"><a class="Menu-item-link Menu-item-link--articles" href="/">Articles</a></li>
        <li class="Menu-item"><a class="Menu-item-link Menu-item-link--twitter" href="https://twitter.com/PetrHurtak" target="_blank">Twitter</a></li>
        <li class="Menu-item"><a class="Menu-item-link Menu-item-link--github" href="https://github.com/Hurtak" target="_blank">Github</a></li>
        <li class="Menu-item">
          <a
            class="Menu-item-link Menu-item-link--rss"
            href="/rss.xml"
            rel="alternate"
            type="application/rss+xml"
          >RSS</a>
        </li>
      </ul>

    </nav>

  </div>
</header>
