<header class="header">

{#
  <a href="/">
    <img
      class="header__logo"
      src="/static/images/logo.png"
      width="426"
      height="68"
      alt="Hurtak.cc"
      >
  </a>
#}

  <nav class="header__menu">

    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="/">
          Articles
        </a>
      </li>

<!--
      <li class="menu__item">
        <a class="menu__link" href="/projects">
          Projects
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/about">
          About
        </a>
      </li>
 -->

       <li class="menu__item">
        <a class="menu__link" href="/rss">
          RSS feed
        </a>
      </li>
    </ul>

  </nav>

</header>
