<div class="Snippet" data-snippet="{{ snippetName }}">
  <div class="Snippet-header">
    <div class="Snippet-tabs-wrapper">
      <div class="Snippet-tab js-snippet-tab-html">HTML</div>
      <div class="Snippet-tab js-snippet-tab-css">CSS</div>
      <div class="Snippet-tab js-snippet-tab-js">JS</div>
      <div class="Snippet-tab js-snippet-tab-result">Result</div>
    </div>
    <a class="Snippet-link" href="{{ href }}">{{ text }}</a>
  </div>
  <div class="Snippet-content-wrapper">
    <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-html"></textarea>
    <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-css"></textarea>
    <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-js"></textarea>
    <iframe class="Snippet-content Snippet-content--iframe js-snippet-content-result"></iframe>
  </div>
</div>
