<div class="snippet" data-snippet="{{ snippetName }}">
  <div class="snippet__header">
    <div class="snippet__tabs-wrapper">
      <div class="snippet__tab js-snippet-tab-html">HTML</div>
      <div class="snippet__tab js-snippet-tab-css">CSS</div>
      <div class="snippet__tab js-snippet-tab-js">JS</div>
      <div class="snippet__tab js-snippet-tab-result">Result</div>
    </div>
    <a class="snippet__link" href="{{ href }}">{{ text }}</a>
  </div>
  <div class="snippet__content-wrapper">
    <textarea class="snippet__content snippet__content--textarea js-snippet-content-html"></textarea>
    <textarea class="snippet__content snippet__content--textarea js-snippet-content-css"></textarea>
    <textarea class="snippet__content snippet__content--textarea js-snippet-content-js"></textarea>
    <iframe class="snippet__content snippet__content--iframe js-snippet-content-result"></iframe>
  </div>
</div>
