{
  "env": {
    "development": {
      "presets": ["env", "next/babel"],
      "plugins": ["glamorous-displayname"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
