.ArticlePreview {
  font-family: var(--font-family-heading);
  margin-top: 3rem;
}

.ArticlePreview:first-child {
  margin-top: 0;
}

.ArticlePreview-title {
  font-size: var(--font-size-headline);
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.ArticlePreview-date {
  font-size: var(--font-size-paragraph-small);
  font-family: var(--font-family-paragraph);
}

.ArticlePreview-description {
  font-size: var(--font-size-paragraph);
  font-family: var(--font-family-paragraph);
}
