.Header {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  align-items: center;
}

.Header-logo {
  margin-top: 2rem;
}

.Header-logo-image {
  display: block;
  width: 120px;
  height: 120px;
}

.Header-menu {
  margin-top: 1rem;
  width: 100%;
}
