.Header {
  display: flex;
  flex-direction: column;
}

.Header-logo {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.Header-logo-link {
  display: block;
}

.Header-logo-image {
  display: block;
  width: 120px;
  height: 120px;
}

.Header-menu {
  margin-top: 1rem;
}
