.Menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu-item {
  width: 25%;
  text-align: center;
  user-select: none;
}

.Menu-item-link {
  display: block;
  color: black;
  font-size: var(--font-size-headline-small);
  font-family: var(--font-family-heading);
  line-height: var(--font-line-height-headline);
  padding: 2.4rem 0;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.Menu-item-link:hover {
  background-color: rgba(80, 80, 0, 0.08);
}
