.Menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu-item {
  width: 25%;
  text-align: center;
  user-select: none;
}

.Menu-item-link {
  display: block;
  color: black;
  font-size: var(--font-size-headline-small);
  font-family: var(--font-family-heading);
  line-height: var(--font-line-height-headline);
  padding: 2.4rem 0;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.Menu-item-link::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.Menu-item-link--articles::before {
  background-size: 1.9rem;
  background-image: url('/static/images/article.svg');
}
.Menu-item-link--twitter::before  {
  background-image: url('/static/images/twitter.svg');
}
.Menu-item-link--github::before   {
  background-size: 1.8rem;
  background-image: url('/static/images/github.svg');
}
.Menu-item-link--rss::before      {
  background-size: 1.6rem;
  background-image: url('/static/images/rss.svg');
}

@media (max-width: 600px) {
  .Menu-item-link {
    padding: 1.6rem 0;
  }

  .Menu-item-link::before {
    display: block;
    margin: 0 auto 0.8rem;
  }
}

.Menu-item-link--articles:hover::before { background-image: url('/static/images/article-white.svg') }
.Menu-item-link--twitter:hover::before  { background-image: url('/static/images/twitter-white.svg') }
.Menu-item-link--github:hover::before   { background-image: url('/static/images/github-white.svg') }
.Menu-item-link--rss:hover::before      { background-image: url('/static/images/rss-white.svg')    }

.Menu-item-link:hover {
  color: white;
}
