.Menu {
  display: flex;
  list-style-type: none;
  justify-content: center; /* TODO remove when items fill 100% */
  margin: 0;
  padding: 0;
}

.Menu-item {
  width: 25%;
  text-align: center;
  -webkit-user-select: none; /* TODO: remove once supported without prefixes */
  user-select: none;
}

.Menu-item-link {
  display: block;
  color: black;
  font-size: var(--font-size-headline-small);
  font-family: var(--font-family-heading);
  line-height: 2.4;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.Menu-item-link:hover {
  background-color: rgba(80, 80, 0, 0.08);
}
