.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility; /* TODO: is this doing anyting? */
  /* TODO http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
}

.Page-content {
  --padding: 10px;

  flex: 1; /* to make footer sticky */
  padding: 0 var(--padding);
  max-width: calc( var(--content-width) + var(--padding) * 2 );
  margin: auto;
}
