.Page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility; /* TODO: is this doing anyting? */
  /* TODO http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
}

.Page-centered {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  /* TODO: move into mixin once they are avaliable - same code used in header.css & page.css */
  padding: 0 var(--content-spacing);
  max-width: var(--content-max-width);
}

.Page-main {
  flex: 1; /* to make footer sticky */
}
