{% extends "../base.njk" %}

{% block title -%}
  &ndash; {{ article.title }}
{%- endblock %}

{% block content %}

  <article class="article">

    <div class="article__header">
      <h1 class="article__title">
        {{ article.title }}
      </h1>
      <time
        class="article__datetime"
        datetime="{{ article.publicationDate  | datetimeAttribute }}"
        title="{{ article.publicationDate | fullDate }}"
      >
        {{ article.publicationDate  | dateHowLongBefore }}
      </time>
    </div>

    <div class="article__content">
      {{ article.html | safe }}
    </div>

  </article>

{% endblock %}

{% block scriptVariables %}

  <script>
    (function () {
      'use strict'

      window.appData.snippets = [
        {% for snippet in snippets %}
          {
            name: `{{ snippet.name }}`,
            head: `{{ snippet.head }}`,
            body: `{{ snippet.body }}`,
            css: `{{ snippet.css }}`,
            js: `{{ snippet.js }}`
          }{% if loop.last == false %},{% endif %}
        {% endfor %}
      ]
    }())
  </script>

{% endblock %}
