{% extends "../base.njk" %}

{% block title -%}
  &ndash; {{ article.title }}
{%- endblock %}

{% block content %}

  <article class="Article">

    <div class="Article-header">
      <h1 class="Article-title">
        {{ article.title }}
      </h1>
      <time
        class="Article-datetime"
        datetime="{{ article.publicationDate | datetimeAttribute }}"
        title="{{ article.publicationDate | fullDate }}"
      >
        {{ article.publicationDate  | dateHowLongBefore }}
      </time>
    </div>

    <div class="Article-content">
      {{ article.html | safe }}
    </div>

  </article>

{% endblock %}

{% block scriptVariables %}

  <script>
    (function () {
      'use strict'

      window.appData.snippets = [
        {% for snippet in snippets %}
          {
            name: `{{ snippet.name }}`,
            head: `{{ snippet.head }}`,
            body: `{{ snippet.body }}`,
            css: `{{ snippet.css }}`,
            js: `{{ snippet.js }}`
          }{% if loop.last == false %},{% endif %}
        {% endfor %}
      ]
    }())
  </script>

{% endblock %}
