{% extends "../base.njk" %}

{% block title %}
  blog o webdesignu
{% endblock %}

{% block content %}

  {% for article in articles %}
    <section class="article-preview">

      <h2>
        <a href="/{{ debugUrlPrefix }}{{ article.url }}"
          class="article-preview__title">
          {{ article.title }}
        </a>
      </h2>

      <time datetime="{{ article.last_update | datetimeAttribute }}"
        class="article-preview__date">
        {# {{ article.last_update | date('d.m.Y') }} #}
        {{ article.last_update }}
      </time>

      <p class="article-preview__description">
        {{ article.description }}
      </p>

    </section>
  {% endfor %}

{% endblock %}
