{% extends "../base.njk" %}

{% block content %}

  <h1>Recent articles</h1>

  {% for article in articles %}
    <section class="ArticlePreview">

      <h2>
        <a
          href="/{{ article.url }}/"
          class="ArticlePreview-title"
        >
          {{ article.title }}
        </a>
      </h2>

      <time
        datetime="{{ article.lastUpdate | datetimeAttribute }}"
        title="{{ article.lastUpdate | fullDate }}"
        class="ArticlePreview-date"
      >
        {{ article.lastUpdate | dateHowLongBefore }}
      </time>

      <p class="ArticlePreview-description">
        {{ article.description }}
      </p>

    </section>
  {% endfor %}

{% endblock %}
