{% extends "../base.njk" %}

{% block content %}

  <h1>Recent articles</h1>

  {% for article in articles %}
    <section class="article-preview">

      <h2>
        <a
          href="/{{ debugUrlPrefix }}{{ article.url }}"
          class="article-preview__title"
        >
          {{ article.title }}
        </a>
      </h2>

      <time
        datetime="{{ article.lastUpdate | datetimeAttribute }}"
        title="{{ article.lastUpdate | fullDate }}"
        class="article-preview__date"
      >
        {{ article.lastUpdate | dateHowLongBefore }}
      </time>

      <p class="article-preview__description">
        {{ article.description }}
      </p>

    </section>
  {% endfor %}

{% endblock %}
