<footer class="Footer">
  <p class="Footer-paragraph">
    {{ globals.yearFounded}}&ndash;{{ globals.yearCurrent }}
  </p>
  <p class="Footer-paragraph Footer-paragraph--author">
    Written by <a class="Footer-paragraph-link" href="mailto:petr.hurtak@gmail.com">Petr Huřťák</a>
  </p>
</footer>
