<header class="Header">

  <div class="Header-logo">
    <a
      class="Header-logo-link"
      href="/"
    >
      <img
        class="Header-logo-image"
        src="/static/images/logo.svg"
        width="120"
        height="120"
        alt="Hurtak.cc"
        >
    </a>
  </div>

  <nav class="Header-menu">

    <ul class="Menu">
      <li class="Menu-item"><a class="Menu-item-link" href="/">Articles</a></li>
      <li class="Menu-item"><a class="Menu-item-link" href="/rss.xml">RSS feed</a></li>
    </ul>

  </nav>

</header>
