<header class="Header">
  <div class="Header-content">

    <a
      class="Header-logo"
      href="/"
    >
      <img
        class="Header-logo-image"
        src="/static/images/logo.svg"
        width="120"
        height="120"
        alt="Hurtak.cc"
        >
    </a>

    <nav class="Header-menu">

      <ul class="Menu">
        <li class="Menu-item"><a class="Menu-item-link" href="/">Articles</a></li>
        <li class="Menu-item"><a class="Menu-item-link" href="https://twitter.com/PetrHurtak">Twitter</a></li>
        <li class="Menu-item"><a class="Menu-item-link" href="https://github.com/Hurtak">Github</a></li>
        <li class="Menu-item"><a class="Menu-item-link" href="/rss.xml">RSS</a></li>
      </ul>

    </nav>

  </div>
</header>
