{% if snippet.config.inlineSnippet %}
  <div
    class="Snippet Snippet--inline js-snippet-content-result"
    data-snippet="{{ snippet.metadata.name }}"
  >
    <iframe
      class="Snippet-iframe"
      srcdoc="{{ snippet.content.whole }}"
      src="{{ relativeUrl }}"
    >
    </iframe>
  </div>
{% else %}
  <div class="Snippet" data-snippet="{{ snippet.metadata.name }}">
    <div class="Snippet-header">
      <div class="Snippet-headerGroup">
        <button class="Snippet-button js-snippet-tab-html">HTML</button>
        <button class="Snippet-button js-snippet-tab-css">CSS</button>
        <button class="Snippet-button js-snippet-tab-js">JS</button>
        <button class="Snippet-button js-snippet-tab-result">Result</button>
      </div>
      <div class="Snippet-headerGroup">
        <button class="Snippet-button js-snippet-reset">Reset</button>
        <a
          class="Snippet-button"
          href="{{ relativeUrl }}"
          target="_blank"
          title="Open raw snippet in new tab"
        >
          Source
        </a>
      </div>
    </div>
    <div class="Snippet-contentWrapper">
      <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-html"></textarea>
      <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-css"></textarea>
      <textarea class="Snippet-content Snippet-content--textarea js-snippet-content-js"></textarea>
      <div class="Snippet-content js-snippet-content-result">
        <iframe
          class="Snippet-iframe"
          srcdoc="{{ snippet.content.whole }}"
          src="{{ relativeUrl }}"
        >
        </iframe>
      </div>
    </div>
  </div>
{% endif %}
