<!DOCTYPE html>
<html>
  <head>
    <title>hurtak.cz &ndash; {{ title }}</title>
    {% include './partials/metatags.njk' %}
    {% include './partials/styles.njk' %}
  </head>
  <body>

    <div class="page">
      {% include './partials/header.njk' %}

      <article class="article">
        <h1>{{ title }}</h1>
        {# <div>{{ date|date('d.m.Y H:i', -120) }}</div> #}
        <div>{{ date }}</div>

        {{ article | safe }}
      </article>

      {% include './partials/footer.njk' %}
      {% include './partials/scripts.njk' %}
    </div>

  </body>
</html>
