<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>hurtak.cz &ndash; {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <link rel="alternate" type="application/rss+xml" title="hurtak.cz" href="/rss">
    <link type="text/plain" rel="author" href="/humans.txt" />

  </head>
  <body>

    <div class="page">
      {% include './base/header.njk' %}

      <main>
        {% block content %}{% endblock %}
      </main>

      {% include './base/footer.njk' %}
    </div>

    <script type="text/javascript" src="/static/scripts/scripts.js"></script>

  </body>
</html>
