<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>hurtak.cz {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.png" sizes="16x16">

    {% if debug -%}
      <link rel="stylesheet" type="text/css" href="/static/styles/debug.css">
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">

    <link rel="alternate" type="application/rss+xml" title="hurtak.cz" href="/rss">
    <link type="text/plain" rel="author" href="/humans.txt">

  </head>
  <body>

    <div class="page-wrapper">

      <div class="content">
        {% include './base/header.njk' %}

        <main>
          {% block content %}{% endblock %}
        </main>

        {% include './base/footer.njk' %}
      </div>

    </div>

    <script type="text/javascript" src="/static/scripts/scripts.js"></script>

  </body>
</html>
