.Header {
  display: flex;
  width: 100%;
  padding-top: 6rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue-main);
}

.Header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* TODO: move into mixin once they are avaliable - same code used in header.css & page.css */
  padding: 0 var(--content-spacing);
  max-width: var(--content-max-width);
}

.Header-logo {
  display: block;
}

.Header-logo-image {
  display: block;
  width: 13rem;
  height: 5.5rem;
  margin: 2rem 8rem;
}

.Header-menu {
  width: 100%;
}
