/*
 * resets on html & body
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * better box-sizing: border-box reset
 * @see: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * reset common elements
 * TODO: remove and make resets on individual components?
 */
h1, h2, h3, h4, h5, h6,
ol, ul, li,
p {
  margin: 0;
  padding: 0;
}
