/*
 * Optimal Typography for 20px Font
 * Font Size: 20, Line Height: 32, Content Width: 986
 * @see: http://www.pearsonified.com/typography/
 */

:root {
  --content-width: 700px;

  --font-family-heading: Arial, sans-serif;
  --font-family-paragraph: Georgia, serif;

  --font-size-title:           5.2rem;
  --font-size-headline:        3.3rem;
  --font-size-headline-small:  2.5rem;
  --font-size-paragraph:       2.0rem;
  --font-size-paragraph-small: 1.6rem;

  --font-padding-headline:       5.6rem 0 1.2rem 0;
  --font-padding-headline-small: 3.2rem 0 1.0rem 0;

  --font-line-height-headline:       1.2;
  --font-line-height-headline-small: 1.3;
  --font-line-height-paragraph:      1.6;

  --paragraph-spacing: 1.5em;
}

html {
  /* with font-size: 62.5%, 1em is 10px
   * @see: http://snook.ca/archives/html_and_css/font-size-with-rem */
  font-size: 62.5%;
}
