{% extends "../base.njk" %}

{% block title %}
  Debug
{% endblock %}

{% block content %}
  <h2>Debug stuff</h2>

  <form action="/debug/generate-cache" method="POST">
    <input type="submit" value="generate cache">
  </form>
{% endblock %}
