<header>
  <a href="/">
    <img
      src="/public/images/logo.png"
      width="426"
      height="68"
      alt="Hurtak.cc"
      >
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">
          Articles
        </a>
      </li>

<!--
      <li>
        <a href="/projects">
          Projects
        </a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
 -->

       <li>
        <a href="/rss">
          RSS feed
        </a>
      </li>
    </ul>
  </nav>
</header>
