:root {
  /*
   * colors
   */
  --color-gray-lighter: #f5f5f5;
  --color-gray-light: #dddddd;
  --color-gray-standard: #cccccc;
  --color-gray-dark: #333333;

  --color-yellow: #ffff00;
  --color-blue-main: #69d2e7;
  --color-blue-dark: #000fff;

  --color-link-border: rgba(0, 0, 0, 0.3);

  /*
   * dimensions
   */
  --content-width: 700px;
  --border-radius: 3px;

  /* TODO: move into mixin once they are avaliable - same code used in header.css & page.css */
  --content-spacing: 16px;
  --content-max-width: calc(var(--content-width) + 2 * var(--content-spacing));

  /*
   * z-indexes
   */
  --z-index-snippet-content-visible: 20;
  --z-index-snippet-content: 10;
}

@media (max-width: 600px) {
  :root {
    --content-spacing: 8px;
  }
}
