html, body { height: 100%; }
* { box-sizing: border-box; }

.block {
  @thickness: 50px;
  @tallness: 150px;
  @depth: 30px;

  width: @thickness;
  height: @tallness;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 400;

  transform: rotateX(45deg) rotateY(0deg) rotateZ(20deg) translate3d(0,0,0);

  left: 100px;
  top: 40%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);

  & * {
    position: absolute;
    left: 0; top: 0;
    transform-origin: 0 0 0;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(255, 0, 0, .3);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .3) inset;
  }

  &__front {
    width: 100%;
    height: @depth;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(-@tallness);
  }

  &__back {
    width: 100%;
    height: @depth;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }

  &__left {
    width: @depth;
    height: 100%;
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  }

  &__right {
    width: @depth;
    height: 100%;
    transform-origin: @thickness 0 0;
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateX(@thickness);
  }

  &__top {
    width: 100%;
    height: 100%;
    transform: translateZ(@depth);
  }

  &__bottom {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

}
