{% extends "extends/base.njk" %}

{% block title %}
  &ndash; 404
{% endblock %}

{% block content %}
  <section class="NotFound">
    <h1 class="NotFound-title">404 not found</h1>
    <p class="NotFound-text">Sorry</p>
  </section>
{% endblock %}
