{% extends "extends/base.njk" %}

{% block title -%}
  &ndash; {{ metadata.title }}
{%- endblock %}

{% block content %}

  <article class="Article">

    <section class="Article-header">
      <h1 class="Article-title">
        {{ metadata.title }}
      </h1>
      <time
        class="Article-datetime"
        title="{{ metadata.dateLastUpdate | fullDate }}"
        datetime="{{ metadata.dateLastUpdate | datetimeAttribute }}"
        data-date-convert
      >
        {{ metadata.dateLastUpdate | fullDate }}
      </time>
    </section>

    <section class="Article-content">
      {{ articleHtml | safe }}
    </section>

    <section class="Article-comments">
      <h2 class="Article-comments-heading">Comments</h2>
      <div id="disqus_thread"></div>
    </section>

  </article>

{% endblock %}

{% block scriptVariables %}

  <script>
    (function () {
      'use strict'

      window.appData.snippets = [
        {% for snippet in snippets %}
          {
            metadata: {
              name: {{ snippet.metadata.name | dump | safe }},
              base: {{ snippet.metadata.base | dump | safe }},
            },
            content: {
              head: {{ snippet.content.head | dump | safe }},
              html: {{ snippet.content.html | dump | safe }},
              css: {{ snippet.content.css | dump | safe }},
              js: {{ snippet.content.js | dump | safe }},
            },
            config: {{ snippet.config | dump | safe }}
          }{% if loop.last == false %},{% endif %}
        {% endfor %}
      ]
    }())
  </script>

{% endblock %}

{% block afterScripts %}

  <script>

    (function() {
      window.disqus_config = function () {
        this.page.url = "{{ globals.siteUrl }}/{{ metadata.url }}"
        this.page.identifier = "{{ metadata.id }}"
      }

      var d = document, s = d.createElement('script');
      s.src = 'https://hurtak.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })()

  </script>

{% endblock %}
