@import (inline) '../../../node_modules/normalize.css/normalize.css';

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.page {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
}

.content {

}

.article-preview {
	border: 1px solid red;
	overflow: hidden;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&__top {
		width: 100%;
		padding: 10px;
		float: left;
		background-color: lightgreen;
	}

	&__bottom {
		width: 100%;
		padding: 0;
		float: left;
		background-color: lightblue;
	}
}
