@import (inline) '../../../node_modules/normalize.css/normalize.css';

/*
 * variables
 */


/*
 * z-indexes
 */


/*
 * resets
 */

html,
body {
	height: 100%;
	margin: 0;
}

// @see: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
}

/*
 * Typography
 */

// Optimal Typography for 18px Font
// Font Size: 18, Line Height: 29, Content Width: 829
// @see: http://www.pearsonified.com/typography/

html {
	// @see: http://snook.ca/archives/html_and_css/font-size-with-rem
	font-size: 62.5%;
}

@font-size-title: 4.5rem; // 45px
@font-size-headline: 2.8rem; // 28px
@font-size-sub-headlines: 2.2rem; // 22px
@font-size-primary-text: 1.7rem; // 17px
@font-size-secondary-text: 1.3rem; // 13px

@line-height: 1.6;
@paragraph-spacing: 1em;
@content-width: 750px;

body {
	line-height: @line-height;
	padding: 1em;
	background-color: @background;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: @font-size-primary-text;
}

h1,
h2,
h3 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-style: italic;
}

@background: #f7ecdd;

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dashed black;

	&:visited {
		color: black;
	}

	&:hover {
		border-bottom: 1px solid black;
	}
}

h1 {
	font-size: @font-size-title;
}

h2 {
	font-size: @font-size-headline;
}

h3 {
	font-size: @font-size-sub-headlines;
}

p,
ul {
	margin-bottom: @paragraph-spacing;
}

ul {
	padding-left: @paragraph-spacing * 2;
}

small {
	font-size: @font-size-secondary-text;
}

/*
 * general
 */

.page {
	max-width: @content-width;
	margin: auto;
}
