<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>hurtak.cz {% block title %}{% endblock %}</title>

    {# meta #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# icons #}
    <link rel="icon" type="image/png" href="/static/images/favicon.png" sizes="16x16">

    {# styles #}
    {% if globals.production %}
      <link rel="stylesheet" type="text/css" href="/static/styles/styles-{{ hashCss }}.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="/static/styles/debug/debug-reset.css">
      <link rel="stylesheet" type="text/css" href="/static/styles/debug/debug-templates.css">
      <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    {% endif %}

    {# extra #}
    <link rel="alternate" type="application/rss+xml" title="hurtak.cz" href="/rss.xml">
    {# TODO: update title url #}
    <link type="text/plain" rel="author" href="/humans.txt">

  </head>
  <body>

    {# page #}
    <div class="Page">

      {% include 'components/header.njk' %}

      <main class="Page-content">
        {% block content %}{% endblock %}
      </main>

      {% include 'components/footer.njk' %}

    </div>

    {# debug #}
    {% if not globals.production %}
      <pre class="DebugTemplates"><code>{{ getDebugData() | dump(4) }}</code></pre>
    {% endif %}

    {# data for scripts #}
    <script>
      (function () {
        'use strict'

        window.appData = {}
        window.App = {}
      }())
    </script>
    {% block scriptVariables %}{% endblock %}

    {# scripts #}
    {% if globals.production %}
      <script src="/static/scripts/scripts-{{ hashJs }}.js"></script>
    {% else %}
      {# TODO: get rid of data-dev thing #}
      <script data-dev src="/static/scripts/components/date-convertor.js"></script>
      <script data-dev src="/static/scripts/components/snippets.js"></script>
      <script data-dev src="/static/scripts/components/log.js"></script>
      <script data-dev src="/static/scripts/app.js"></script>
    {% endif %}

  </body>
</html>
