<!DOCTYPE html>
<html>
	<head>
		<title>hurtak.cz &ndash; blog o webdesignu</title>
		{% include 'metatags.html' %}
		{% include 'styles.html' %}
	</head>
	<body>

		<div class="page">
			<h1>Články</h1>

			{% include 'recent-articles.html' %}
			{% include 'scripts.html' %}

			<h1>hlavní nadpis</h1>
			<p>Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid. The former case isn’t worth discussing here, but the latter requires a closer look</p>
			<p>Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid. The former case isn’t worth discussing here, but the latter requires a closer look</p>
			<p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. must decide on is your baseline grid unit. You’ll commonly see baseline grid values of </p>
			<h2>hlavní nadpis</h2>
			<p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of </p>
			<h3>hlavní nadpis</h3>
			<p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of </p>
			<ul>
				<li>adw</li>
				<li>adw</li>
				<li>adw</li>
				<li>adw</li>
				<li>adw</li>
			</ul>
			<p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of </p>
			<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>

		</div>

	</body>
</html>
